<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_mascota"
        android:label="Inicio Mascota"
        android:roundIcon="@drawable/logo_mascota"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginSignup"
        tools:targetApi="31">

        <!-- Actividad de registro -->
        <activity android:name=".Signup_Form" />

        <!-- Actividad de login (Login_Form) -->
        <activity
            android:name=".Login_Form"
            android:exported="true"> <!-- Mantén esto si es la actividad principal con intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
